<!DOCTYPE html>
<html>
<head>
	<title>Tim The Enchanter v1.0</title>
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<script src='/js/app.js'></script>
</head>
<body class='gamescreen'>
	<div id='game' width="1200" height="960"></div>
	<script type="text/javascript">
		const TimTheEnchanter = require('TimTheEnchanter')
		var game = new TimTheEnchanter({targetId: 'game'});
		game.start();
	</script>
</body>

</html>